*.md       text
*.txt      text
*.bash     text eol=lf
*.sh       text eol=lf
*.yaml     text
*.yml      text
*.7z       binary
*.gz       binary
*.tar      binary
*.tgz      binary
*.zip      binary
*.py       text diff=python