[Unit]
Description = MergerFS Mount
After=rclone-vfs.service
RequiresMountsFor=/homexx/yyyyy/Stuff/Local
RequiresMountsFor=/homexx/yyyyy/Stuff/Mount

[Service]
Type=forking
KillMode=none
ExecStart=/homexx/yyyyy/bin/mergerfs /homexx/yyyyy/Stuff/Local:/homexx/yyyyy/Stuff/Mount /homexx/yyyyy/MergerFS -o use_ino,func.getattr=newest,category.action=all,category.create=ff,cache.files=auto-full,threads=8
ExecStop=/bin/fusermount -uz /homexx/yyyyy/MergerFS
Restart=on-failure

[Install]
WantedBy=default.target