[Unit]
Description=RClone VFS Service
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
KillMode=none
Environment=GOMAXPROCS=2

ExecStart=/homexx/yyyyy/bin/rclone mount remote: /homexx/yyyyy/Stuff/Mount \
  --config /homexx/yyyyy/.config/rclone/rclone.conf \
  --use-mmap \
  --dir-cache-time 1000h \
  --poll-interval=15s \
  --vfs-cache-mode writes \
  --tpslimit 10

StandardOutput=file:/homexx/yyyyy/scripts/rclone_vfs_mount.log
ExecStop=/bin/fusermount -uz /homexx/yyyyy/Stuff/Mount
Restart=on-failure

[Install]
WantedBy=default.target