[Unit]
Description=RClone Mount Service
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
TimeoutStopSec=60
Environment=GOMAXPROCS=2

ExecStart=%h/bin/rclone mount remote: %h/Stuff/Mount \
  --config %h/.config/rclone/rclone.conf \
  --use-mmap

StandardOutput=file:%h/scripts/rclone_mount.log
ExecStop=/bin/fusermount -uz %h/Stuff/Mount
Restart=on-failure

[Install]
WantedBy=default.target
