[Unit]
Description=RClone Uploader
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
KillMode=none
Environment=GOMAXPROCS=2

ExecStart=/homexx/yyyyy/bin/rclone move /homexx/yyyyy/Stuff/Local/ gdrive: \
    --config=/homexx/yyyyy/.config/rclone/rclone.conf \
    --drive-chunk-size 64M \
    --tpslimit 5 \
    --drive-acknowledge-abuse=true \
    -vvv \
    --delete-empty-src-dirs \
    --fast-list \
    --bwlimit=8M \
    --use-mmap \
    --transfers=2 \
    --checkers=4 \
    --log-file /homexx/yyyyy/scripts/rclone-uploader.log
ExecStop=/usr/bin/pgrep -a rclone | /bin/grep -v 'mount' | /usr/bin/awk '{ print $2 }' | /usr/bin/xargs /bin/kill
Restart=on-failure

[Install]
WantedBy=default.target
