[Unit]
Description=RClone Uploader

[Service]
Type=simple

ExecStart=/homexx/yyyyy/bin/rclone move /homexx/yyyyy/Stuff/Local/ remote: \
    --config=/homexx/yyyyy/.config/rclone/rclone.conf \
    --drive-chunk-size 64M \
    --tpslimit 5 \
    -vvv \
    --delete-empty-src-dirs \
    --fast-list \
    --bwlimit=8M \
    --use-mmap \
    --transfers=2 \
    --checkers=4 \
    --drive-stop-on-upload-limit

StandardOutput=file:/homexx/yyyyy/scripts/rclone_uploader.log
Restart=on-failure

[Install]
WantedBy=default.target