[Unit]
Description=RClone Uploader

[Service]
Type=simple

ExecStart=%h/bin/rclone move %h/Stuff/Local/ remote: \
    --config=%h/.config/rclone/rclone.conf \
    --drive-chunk-size 64M \
    --tpslimit 5 \
    -vvv \
    --delete-empty-src-dirs \
    --bwlimit=8M \
    --use-mmap \
    --transfers=2 \
    --checkers=4 \
    --drive-stop-on-upload-limit

StandardOutput=file:%h/scripts/rclone_uploader.log
Restart=on-failure

[Install]
WantedBy=default.target
